html,body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    background-color: firebrick;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "hd hd"
    "main sd"
    "ft ft";
    border: green 5px solid;
    height: 100vh;
}

@media(max-width: 600px) {
    .container {
        background-color: firebrick;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto 1fr auto auto;
        grid-template-areas: "hd"
        "main"
        "sd"
        "ft";
        border: green 5px solid;
        height: 100vh;
    }
}

.header {
    justify-content: center;
    background-color: lightgrey;
    grid-area: hd;
    margin: 0.7rem;
    border-radius: 5px;
}

.site-title {
    text-align: center;
    line-height: 1em;
    border: orange 10px solid;
}

.nav {
    border: navy 10px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav-item {
    background-color: olivedrab;
    width: 120px;
    padding: 5px;
}

.content {
    margin: 0.7rem;
    background-color: cadetblue;
    grid-area: main;
    border-radius: 5px;
}

.sidebar {
    background-color: darkolivegreen;
    grid-area: sd;
    margin: 0.7rem;
    border-radius: 5px;
}

.footer {
    background-color: thistle;
    grid-area: ft;
    border-radius: 5px;
    margin: 0.7rem;
}