
.detail-card-widget {
    margin-top: auto;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(auto, 150px);
}

.user-widget {
    margin-left: 10px;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: none;
}

.user-name {
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: auto;
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

.user-posted-date {
    margin: auto;
    font-size: 0.9em;
    color: #999999;
}

.user-comments {
    margin: 10px;
    font-size: 0.9em;
    color: #999999;
    font-weight: normal;
}

.user-avatar {
    margin-top: 10px;
    margin-left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 26px;
    border: #1fe392 solid 2px;
}

.user-date-widget {
    line-height: 0.1em;
    margin-left: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: none;
}

.detail-main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: none;
}

.social-share {
    margin: auto;
}

.social-share-title {
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.2em;
    font-style: italic;

}

.fig-caption {
    margin-top: 20px;
    margin-left: 20px;
    font-style: italic;
    color: crimson;
}

.quote {
    font-size: 1.5em;
    padding-left: 20px;
    border-left: 1px solid #999999;
}

.social-icon {
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.share-title {
    bottom: 20px;
}